[Desktop Entry]
Categories=AudioVideo;Player;
Comment=Simple audio player
Exec=dumbplayer %F
GenericName=Simple Audio Player
GenericName[ru]=Простой аудиоплеер
Icon=dumbplayer
MimeType=audio/ac3;audio/mp4;audio/mpeg;audio/vnd.rn-realaudio;audio/vorbis;audio/x-adpcm;audio/x-matroska;audio/x-mp2;audio/x-mp3;audio/x-ms-wma;audio/x-vorbis;audio/x-wav;audio/mpegurl;audio/x-mpegurl;audio/x-pn-realaudio;audio/x-scpls;
Name=DumbPlayer
Type=Application
X-KDE-StartupNotify=false
