body
{
	background: #d0d0d0;
	font-family: Droid Sans, sans-serif;
}

div.frame
{
	background: #a0a0a0;
	border: 1px solid #505050;
	border-top: 5px solid #505050;
	border-bottom: 2px solid #505050;
	padding: 10px;
	overflow: visible;
}

div.message
{
	padding-top: 10px;
	padding: 10px;
	float: left;
	height: 100%;
}

div.form_layout 
{
	margin-left: 30%;
	margin-right: 30%;
	border: 1px solid #505050;
}

a
{
	color: #505050;
	text-decoration: none;
	text-shadow: 0px 1px 0px black;
}

a:hover
{
	color: #303030; 
	text-decoration: underline;
}

ul.path
{
	padding: 0px;
	margin: 0px;
	float: left;
}

li.path
{
	display: inline-block;
}

li.path:before
{
	content: " → ";
}

li.path:first-child:before
{
	content: none;
}

div.title
{
	color: #303030;
	background: #aaaaaa;
	
	padding: 10px;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	border-bottom: 1px solid #bbbbbb;
	margin-bottom: 10px;
	
	font-size: 18pt;
	height: 30px;
}

h1
{
	color: #303030;
}

#menu
{
	overflow: hidden;
}

div.menu_item
{
	overflow: hidden;
	float: left;
	border: 1px solid #505050;
	border-top: 4px solid #505050;
	margin: 5px;
	padding: 5px;
	width: 100px;
	height: 100px;
	cursor: pointer;
}

div.menu_item:hover
{
	border: 1px solid #eeeeee;
	color: #eeeeee;
	border-top: 4px solid #eeeeee;
}

span.menu_item
{
	margin: -5px;
	margin-top: 5px;
	padding: 5px;
	background: #aaaaaa; 
	border-top: 1px solid #bbbbbb;
	float: left;
	display: block;
	width: 100%;
	text-align: center;
	height: 20px;
}

img.menu_item
{
	display: block;
	margin: auto;
	padding-top: 10px;
}

div.menu_img
{
	float:left;
	clear: right;
	width: 100%;
	height: 70px;
}

ul.actions_menu:hover
{
	color: #eeeeee;
}

ul.actions_menu
{
	float: left;
	
	list-style:none;
	position: relative;
	
	height: 30px;
	width: 80px;
	
	margin-top: -10px;
	margin-bottom: -10px;
	margin-right: 10px;
	margin-left: -10px;

	padding: 10px;

	color: #aaaaaa;
	background: #505050;

	z-index: 20;
}

ul.actions_menu a
{
	color: #aaaaaa;
	text-decoration: none;
	text-shadow: none;
}

ul.actions_menu a:hover
{
	color: #eeeeee;
}

ul.actions_menu li
{
	display:none;
	background: #505050;

	width: 200%;
	
	margin-left: -10px;
	margin-right: -10px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
}

ul.actions_menu li:first-child
{
	margin-top: 10px;
	padding-top: 10px;
}
ul.actions_menu li:last-child
{
	padding-bottom: 10px;
}

ul.actions_menu:hover li
{
	display:block;
}
